<div class="popupContainer" id="popupContainer-{{ post.id }}">
    <div id="overlay-{{ post.id }}" class="overlay hidden"></div>
        <div id="popupDialog-{{ post.id }}" class="popupDialog hidden">
            <button class="close-btn">X</button>
            <fieldset>
                <legend>Are you sure you want to delete this?</legend>

                <form method='post'>
                {% csrf_token %}
                <div>
                    <input class="delete-post" type="radio" id="delete-post-yes"
                        name="delete-post" value="True" data-post-id='{{ post.id }}' />
                    <label for="delete-post-yes">YES</label>
                </div>
                
                <div>
                    <input class="delete-post" type="radio" id="delete-post-no"
                        name="delete-post" value="False" data-post-id='{{ post.id }}' />
                    <label for="delete-post-no">NO</label>
                </div>
                </form>
            </fieldset>
        </div>
    </div>
