{% extends 'layout.html' %}
{% block body %}
<div class="container" style="width:40%">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="text-center">Profile</p>
        <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.profile_picture.id_for_label }}">{{ form.profile_picture.label }}</label>
        {{ form.profile_picture }}
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        </div>
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Update</button>
    </form>
</div>
{% endblock %}