{% load homeapp_custom_filters %}

<div class="collapse" id="comment-{{ post.id }}">
  <div class="comment_lists-{{ post.id }}">
    {% for comment in comments|get_item:post.id %}
      <div class="position-relative" id="comment-{{ comment.id }}">
        <div class="p-4 rounded-2 bg-light mb-3">
          <div class="d-flex align-items-center gap-3">
            {% if comment.user.user_profile.profile_picture %}
              <img src="{{ comment.user.user_profile.profile_picture.url }}" alt="" class="rounded-circle" width="33" height="33">
            {% else %}
              <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="rounded-circle" width="33" height="33">
            {% endif %}
            <h6 class="fw-semibold mb-0 fs-4">{{ comment.user.user_profile.name }}</h6>
            <span class="fs-2"><span class="p-1 bg-muted rounded-circle d-inline-block"></span> 5 min ago</span>
          </div>
          <p class="my-3">
            {{ comment.comment }}
          </p>
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center gap-2">
              <button class="text-dark d-flex align-items-center justify-content-center bg-light-dark p-2 fs-4 rounded-circle like-cmnt-btn"
              data-likable_comment-id="{{ comment.id }}">
                {% if comment in liked_comments %}
                  <i class="fa fa-thumbs-up" id="i-{{comment.id}}" style="color:red"></i>
                {% else %}
                  <i class="fa fa-thumbs-up" id="i-{{comment.id}}" style="color:blue;"></i>
                {% endif %}
              </button>
              <span class="text-dark fw-semibold" id="comment_like_count-{{ comment.id }}">{{ comment_like_count|get_item:comment.id }}</span>
            </div>
            <div class="d-flex align-items-center gap-2 ms-4">
              <button class="text-white d-flex align-items-center justify-content-center bg-success p-2 fs-4 rounded-circle"  data-toggle="collapse" data-target="#replay-{{ comment.id }}" >
                <i class="fa fa-arrow-down"></i>
              </button>
              <span class="text-dark fw-semibold">{{ replay_count|get_item:comment.id }}</span>
            </div>
            {% if comment.user == user %}
              <div class="d-flex align-items-center gap-2 ms-4">
                <button class="text-white d-flex align-items-center justify-content-center bg-danger p-2 fs-4 rounded-circle delete-cmnt-btn"
                data-delete-comment-id="{{ comment.id }}">
                  <i class="fa fa-trash"></i>
                </button>
                {% include 'profile/_delete_comment.html' %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="collapse"  id="replay-{{ comment.id }}">
          <div class="replay_lists-{{ comment.id }}">
            {% for replay in replays|get_item:comment.id %}
              <div class="replay_list-{{ replay.id }}">
                <div class="p-4 rounded-2 bg-light ms-7">
                  <div class="d-flex align-items-center gap-3">
                    {% if replay.user.user_profile %}
                      <img src="{{ replay.user.user_profile.profile_picture.url }}" alt="" class="rounded-circle" width="40" height="40">
                      <h6 class="fw-semibold mb-0 fs-4">{{ replay.user.user_profile.name }}</h6>
                    {% else %}
                      <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="rounded-circle" width="40" height="40">
                      <h6 class="fw-semibold mb-0 fs-4">{{ replay.user.user_profile.name }}</h6>
                    {% endif %}
                    <span class="fs-2"><span class="p-1 bg-muted rounded-circle d-inline-block"></span> just now</span>
                  </div>
                  <p class="my-3">
                    {{ replay.replay }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="d-flex align-items-center gap-3 p-4 ms-7">
            <form method="POST" class="replay-comment" data-likable_comment-id = "{{ comment.id }}">
              {% csrf_token %}
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="rounded-circle" width="33" height="33">
              <input type="text" class="form-control py-8" placeholder="Replay" name="replay_comment">
              <button class="btn btn-primary">Replay</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
    <div class="d-flex align-items-center gap-3 p-3">
      <form method="POST" class="comment-form" data-commented-post-id="{{ post.id }}">
        {% csrf_token %}
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="rounded-circle" width="33" height="33">
        <input type="text" class="form-control py-8" placeholder="Comment" name="comment">
        <button class="btn btn-primary">Comment</button>
      </form>
    </div>
</div>