{% load static %}
{% load homeapp_custom_filters %}
<div class="card">
    <div class="card-body border-bottom">
      <div class="d-flex align-items-center gap-3">
          {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt=""  class="rounded-circle" width="40" height="40">
          {% else %}
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""  class="rounded-circle" width="40" height="40">
          {% endif %}
        <h6 class="fw-semibold mb-0 fs-4">{{ user.username }}</h6>
        <span class="fs-2"><span class="p-1 bg-light rounded-circle d-inline-block"></span>{{ post.created_at|date:'d/M/Y' }}</span>
      </div>
      <p class="text-dark my-3">
        {{ post.description }}
      </p>
      {% if post.post %}
        <img src="{{ post.post.url }}" alt="" class="img-fluid rounded-4 object-fit-cover">
      {% else %}
        <img src="https://www.bootdey.com/image/680x380/FF7F50/000000" alt="" class="img-fluid rounded-4 object-fit-cover">
      {% endif %}
      <div class="d-flex align-items-center my-3">
        <div class="d-flex align-items-center gap-2">
            <button class="text-white d-flex align-items-center justify-content-center
             p-2 fs-4 rounded-circle like-btn" data-likable_post-id = "{{ post.id }}">
            {% if post in liked_posts %}
                <i class="fa fa-thumbs-up" id="i-{{post.id}}" style="color:red"></i>
            {% else %}
                <i class="fa fa-thumbs-up" id="i-{{post.id}}" style="color:blue;"></i>
            {% endif %}
            </button>
          <span class="text-dark fw-semibold" id="like_count-{{ post.id }}">{{ like_count|get_item:post.id }}</span>
        </div>
        <div class="d-flex align-items-center gap-2 ms-4">
          <button class="text-white d-flex align-items-center justify-content-center bg-primary p-2 fs-4 rounded-circle"
           data-toggle="collapse" data-target ="#comment-{{ post.id }}">
            <i class="fa fa-comments"></i>
          </button>
          <span class="text-dark fw-semibold" id="comment_count-{{ post.id }}">{{ comment_count|get_item:post.id }}</span>
        </div>
      </div>  
      {% include 'home/_comments.html' %}
    </div>
  </div>
