{% extends 'layout.html' %}

{% load static %}

{% block nav %}
    {% include 'nav.html' %}
{%endblock%}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

  {% load homeapp_custom_filters %}

  {% include 'home/_profile_head.html' %}
  
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <div class="row">
        {% include 'home/_profile_side_nav.html' %}
        <div class="col-lg-8">
          {% for post in posts %}
            {% include 'home/_posts.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}