<div id="plist" class="people-list">
    <ul class="list-unstyled chat-list mt-2 mb-0">
        <li class="clearfix">
            <div class="circle-container">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                <div class="about">
                    <div class="name">{{ profile.user.username }}</div>
                    <button class="btn btn-outline-primary follow" data-follow-user="{{profile.id}}">
                        {% if profile in follower %}
                        following
                        {% else %}
                        follow
                        {% endif %}
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>


{% comment %} <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search...">
    </div> {% endcomment %}