   /* Ensures the list occupies the maximum width of the parent */
.people-list {
    width: 100%;
}

/* Wrapper around image and name */
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    border: 1px solid;
}

/* Makes the image circular */
.circle-container img {
    width: 50px;  /* Adjust this to control image size */
    height: 50px; /* Adjust this to control image size */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image scales correctly */
    margin-right: 10px; /* Space between image and name */
    margin-bottom: 10px;
}

/* Styling for the name */
.circle-container .about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-container .name {
    font-size: 16px;  /* Adjust font size */
    font-weight: bold;
}