{% extends 'layout.html' %}

{% load static %}

{% block body %}
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
    <div id="user-div">
        <form id="user-form">
            {% csrf_token %}
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <button id="user-submit" class="btn btn-success">Next</button>
        </form>
    </div>

    <div id="password-div" class="d-none">
        <form id="password-form" method="POST" action="{% url 'forgot_password' %}">
            {% csrf_token %}
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="password1">New Password</label>
                <input type="password" id="password1" name="password1">
            </div>

            <!-- Repeat Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2">
            </div>
            <button id="password-submit" class="btn btn-success">Change Password</button>
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{% static 'javascript/forgot_password.js' %}"></script>
{% endblock %}