{% extends 'layout.html' %}
{% block body %}
<div class="container" style="width:40%">
<div class="tab-pane" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
  {% if errors %}
  {{ errors }}
  {% endif %}
    <form method="post" enctype="multipart/formdata">
        {% csrf_token %}
    
      <p class="text-center">Sign Up</p>
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.profile_picture.id_for_label }}">{{ form.profile_picture.label }}</label>
        {{ form.profile_picture }}
      </div>

      <!-- Name input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}
      </div>
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{ form.last_name }}
      </div>

      <!-- Username input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
      </div>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
        {{ form.phone }}
      </div>
      

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {{ form.password1 }}
      </div>

      <!-- Repeat Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2 }}
      </div>

      <!-- Submit button -->
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Sign up</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
